<app-header
  (showModal)="showModalChange($event)"
  (weatherStream)="weatherStream($event)"
  (weatherStreamObservable)="weatherStreamObservable($event)"
></app-header>
<div class="content">
  <div class="container">
    <div class="row">
      <app-card class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor = "let item of cities | async"
                [card] = "item"
      >
      </app-card>
    </div>
  </div>
</div>
<app-modal *ngIf = showModal (showModal)="showModalChange($event)"></app-modal>
<div class="footer">
  <button (click)="clearStorage()" class="btn btn-success footer__clear" >Clear Storage</button>
  <p class="footer__year">{{yearOfDevelopment | year}}</p>
</div>

